.bootstrap-frm {
margin-left:auto;
margin-right:auto;
max-width: 100%;
background: #FFF;
padding: 20px 30px 20px 30px;
font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #333;
text-shadow: 1px 1px 1px #FFF;
border:1px solid #DDD;
border-radius: 8px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background:url(../Images/ee.jpg);
}
.bootstrap-frm h1 {
font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
padding: 0px 0px 10px 40px;
display: block;
text-align:center;
border-bottom: 0px solid ;
margin: -10px -30px 30px -30px;
color: #333;
}


.layer {
float: left;
width: 20%;
padding-right: 10px;
margin-top: 10px;
color: #333;
font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;

text-align:left;
}

.bootstrap-frm input[type="text"], .bootstrap-frm textarea, .bootstrap-frm radio, .bootstrap-frm select {
border: 1px solid #CCC;
color: #333;
height: 40px;
line-height:15px;
margin-bottom: 16px;
margin-right: 6px;
margin-top: 2px;
outline: 0 none;
padding: 5px 0px 5px 5px;
width: 70%;
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bootstrap-frm select {
background: #FFF url('down-arrow.png') no-repeat right;
background: #FFF url('down-arrow.png') no-repeat right;
appearance:none;
-webkit-appearance:none;
-moz-appearance: none;
text-indent: 0.01px;
text-overflow: '';
width: 70%;
height: 35px;
line-height:15px;
font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bootstrap-frm textarea{
height:100px;
padding: 5px 0px 0px 5px;
width: 70%;
}
table 
{ 
font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
border-collapse: collapse; 
border: none; 
width: 100%; 
} 
td 
{ 
border: solid #CCC 1px;
} 
.bootstrap-frm .button {
background: #FFF;
border: 1px solid #CCC;
padding: 10px 25px 10px 25px;
color: #333;
border-radius: 8px;
margin-left:220px;

}
.bootstrap-frm .button:hover {
color: #333;
background-color: #EBEBEB;
border-color: #ADADAD;
}
.bootstrap-frm input[type="submit"]{
        border: hidden;
        width: 100%;
        box-sizing: border-box;
        padding: .8em 0;
        background-color: #ff6c00;
        color: white;
        font-weight: bold;
        border-radius: .15em;
    }

